<!-- board view -->
<div *ngIf="!selectedBoard">
  <h5>Your Job Boards:</h5>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="2">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let board of boards">
        <td (click)="selectedBoard=board">{{board.title}} ({{board.createDate}})</td>
        <td>{{board.description}}</td>
        <td><button class="btn btn-danger" (click)="deleteBoard(board.id)">X</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #content let-c="close()" let-d="dismiss()">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Job Board</h4>
        <button type="button" class="close" aria-label="Close" (click)="d">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #createBoardForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <div class="input-group">
              <input id="title" class="form-control" name="title" ngModel>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <div class="input-group">
              <input id="description" class="form-control" name="description" ngModel>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="createBoard(createBoardForm); c;">Save</button>
      </div>
    </ng-template>

    <button class="btn btn-success" (click)="open(content)">+ Add Job Board</button>
</div>

<!-- job view -->
<div *ngIf="selectedBoard">
  <app-job-list [board]="selectedBoard"></app-job-list>
  <button class="btn btn-warning btn-padding" (click)="selectedBoard = null;">Return to Job Boards</button>
</div>
